.pagination {
  padding: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.icon-btn {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  color: #ff5700;
  font-size: 28px;
  padding: 0.2rem 2px;
  border-radius: 2px;
  cursor: pointer;

}

.pagination-inner button {
  cursor: pointer;
  background-color: #f6f6f6;
  margin: 0 2px;
  padding: 0.6rem 0.6rem;
  border-radius: 2px;
}

.pagination-inner button.active {
  background-color: #ff5700;
}

.pagination-item {
  background-color: #ff5700;
  margin: 0 2px;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
}

.pagination-icon {
  pointer-events: none;
}

.hide {
  display: none;
}