.post-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: max-content;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0.5rem 0;
}

.post-container:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.post-info-creator {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  margin: 0 0.5rem;
}

.avatar img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.post-creator {
  font-weight: bold;
  margin-right: 2px;
}

.post-created {
  color: #222;
}

.avatar-info-container {
  display: flex;
  align-items: center;
}

.sameuser-features {
  position: relative;
  cursor: pointer;
}

.sameuser-features-icon {
  font-size: 30px;
}

.sameuser-features:hover .sameuser-features-content {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.sameuser-features-content {
  display: none;
  position: absolute;
  top: 0px;
  right: 30px;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  z-index: 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.sameuser-features-content span {
  padding: 0.3rem;
  width: 100%;
  background-color: #fefefe;
  transition: background-color 0.4s ease-out;
}

.sameuser-features-content span:hover {
  background-color: #eee;
}

.post-info-title {
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.post-img {
  cursor: pointer;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
}

img {
  height: 100%;
  width: 80%;
  border-radius: 10px;
}

.post-desc {
  margin-top: 1rem;
  text-align: center;
}

.post-features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.votes,
.comments {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

@media screen and (max-width:800px) {

  .votes,
  .comments {
    padding: 1rem 0.75rem;
  }

}

.vote-icon,
.comment-icon {
  color: #333;
  margin: 0 0.5rem;
  font-size: 20px;
}

.like {
  color: #FF5700;
}

.vote-icon {
  cursor: pointer;
}

.comments {
  cursor: pointer;
}

/* loading */
.post-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-post-container {
  margin: 2rem 0;
}

.loading-post-info {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.loading-post-creator-created {
  width: 60%;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0 0.2rem;
}

.loading-post-avatar {
  padding: 1rem;
  border-radius: 50%;
}

.loading-post-info-title {
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 30%;
  border-radius: 5px;
}

.loading-post-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  height: 500px;
  width: 100%;
}

.loading-post-img {
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.loading-post-desc-container {
  display: grid;
  place-items: center;
}

.loading-post-desc {
  padding: 4rem 1.25rem;
  width: 80%;
  border-radius: 5px;
  margin: 0.5rem;
}

.loading-post-features {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-post-features .votes,
.loading-post-features .comments {
  width: 20%;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  margin: 0.5rem;
}

/* single post css */
.loading-singlepost-container {
  width: 70vw;
}

@media screen and (max-width:764px) {
  .post-container {
    width: 80vw;
  }
}