.modal-container {
  min-height: 100vh;
  /* height: max-content; */
  width: 100vw;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal {
  background-color: #fefefe;
  border-radius: 5px;
  margin: 1rem;
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.close {
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 20%;
  color: #fff;
  font-size: 30px;
}

.show {
  display: block;
}

.show-close {
  display: inline;
}

.hide {
  display: none;
}