.comment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.comment-creator {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  margin: 0.5rem 0.5rem;
  border-radius: 50%;
}

.comment-content {
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}