.singlepost-container {
  /* margin-top: 2rem; */
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.6); */
}

.back {
  position: absolute;
  cursor: pointer;
  top: 13vh;
  right: 12vw;
}

.back-icon {
  color: #000;
  font-size: 40px;
}

.singlepost-link {
  position: relative;
}

.singlepost-link:hover .singlepost-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.singlepost-content {
  display: none;
  position: absolute;
  top: 12px;
  right: 5px;
  padding: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  z-index: 1;
  width: max-content;
  border-radius: 5px;
}

.singlepost-info-creator {
  display: flex;
  align-items: center;
}

.comments-link {
  display: flex;
  align-items: center;
}

.comments-icon-container {
  display: flex;
  align-items: center;
  cursor: auto;
}

.singlepost {
  padding: 1rem;
  margin: 1rem;
  background-color: #fefefe;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 75vw;
}

.singlepost-info {
  display: flex;
  flex-direction: column;
}

.singlepost-info-inner {
  display: flex;
}

.singlepost-title {
  color: #323232;
}

.singlepost-img-container {
  height: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.singlepost-img {
  height: 500px;
  width: 400px;
}

.singlepost-description {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 18px;
}

.write-comment {
  /* position: relative; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.textarea-container {
  position: relative;
}

.textarea {
  resize: none;
  border: 0;
  font-size: 18px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  min-height: 100px;
  min-width: 60vw;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.write-comment-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
}

.comment-creator {
  width: 40px;
  height: 40px;
}

.comment-creator img {
  width: 40px;
  height: 40px;
}

.textarea:hover,
.textarea:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background-color: #f6f6f6;
  outline: 0;
  border: 0;
}

.comments-container {
  display: flex;
  flex-direction: column;
  cursor: auto;
  height: max-content;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and(max-width:764px) {}