.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  /* background-color: #f1f1f1; */
  color: #000;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.navbar-logo img {
  height: 55px;
  width: 100px;
}


.navbar-search {
  position: relative;
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.navbar-search input {
  border: 0;
  padding: 0.5rem 3rem;
  width: 100%;
  /* transition: width 0.5s; */
  font-size: 18px;
  display: flex;
}

/* .navbar-search input:focus {
  width: 300px;
} */

.navbar-search-icon {
  cursor: pointer;
  margin: 0.2rem 0.5rem;
  color: #333;
  font-size: 20px;
}

.navbar-search-content {
  position: absolute;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  top: 37px;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  z-index: 1;
  background: #fefefe;
  width: 400px;
  max-height: 500px;
  overflow-y: scroll;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.navbar-search-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-search-content {
  width: 100%;
}

.navbar-search-content-post {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-search-content-post:hover {
  background-color: #eee;
}

.navbar-search-content-post-inner {
  display: flex;
  align-items: center;
}

.navbar-search-content-post-title {
  font-weight: bold;
}

.navbar-search-content-post-image {
  width: 70px;
  height: 70px;
  margin-right: 0.5rem;
}

.navbar-search-content-post-image img {
  height: 100%;
  width: 100%;
}

.navbar-search-content-tags {
  padding: 0.5rem;
}


.avatar {
  display: flex;
  align-items: center;
}

.navbar-profile-icon {
  font-size: 30px;
  color: #333;
}

.signin,
.create,
.logout {
  /* background-color: #000; */
  padding: 0.5rem 0.75rem;
  color: #222;
  font-size: 18px;
  margin: 0 0.75rem;
  box-shadow: 0 2px 0 #ff5700;
  transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  cursor: pointer;
}

.signin:hover,
.create:hover,
.logout:hover {
  border-radius: 5px;
  background-color: #ff5700;
  color: #fff;
}

.content {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.1);
  width: 110px;
  height: 40px;
  border-radius: 10px;
  opacity: 0;
}

.avatar:hover .content {
  display: flex;
  opacity: 1;
}

.content .link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .link:hover {
  color: #fefefe;
  background-color: #ff5700;
  border-radius: 10px;
}

/* SearchPostLoading */
.navbar-search-link-loading {
  text-align: center;
  width: 100%;
  height: max-content;
  margin: 0.3rem 0;
}

.navbar-search-content-post-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar-search-content-post-loading-title {
  padding: 1rem 3rem;
  margin-bottom: 0.3rem;
  border-radius: 5px;
}

.navbar-search-content-post-loading-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.5rem;
}

.navbar-search-content-post-loading-image {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  margin: 0 1rem;
}

.navbar-search-content-post-loading-desc {
  padding: 1rem 3rem;
  border-radius: 5px;
}

.navbar-search-content-tags-loading {
  padding: 0.5rem 2rem;
}

.navbar-features {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
}

.sidebar-dissapear {
  display: flex;
  align-items: center;
}

/* Sidebar */
.sidebar {
  display: none;
}

@media screen and (max-width:801px) {
  .navbar-features {
    flex: 1;
  }

  .sidebar-dissapear {
    display: none;
  }

  .sidebar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }

  .sidebar-avatar {
    height: 38px;
    width: 50px;
    position: relative;
    cursor: pointer;
  }

  .sidebar-content {
    display: none;
    position: absolute;
    top: 38px;
    right: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    width: 15vw;
    border-radius: 5px;
    background-color: #f6f6f6;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .sidebar-avatar:hover .sidebar-content {
    display: flex;
  }

  .sidebar-content a {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  }

  .sidebar-content a:hover {
    background-color: #ff5700;
    color: #fff;
    border-radius: 5px;
  }
}