.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  /* background-color: #f1f1f1; */
  color: #000;
  border: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  height: 55px;
  width: 100px;
}

.navbar-logo img {
  width: 100%;
  height: 100%;
}


.navbar-search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.navbar-search input {
  border: 0;
  padding: 0.5rem 3rem;
  width: 300px;
  transition: width 0.5s;
  font-size: 18px;
  display: flex;
}

.navbar-search input:focus {
  width: 400px;
}

.navbar-search-icon {
  cursor: pointer;
  margin: 0.2rem 0.5rem;
  color: #333;
  font-size: 20px;
}

.navbar-search-content {
  position: absolute;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  top: 37px;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  z-index: 1;
  background: #fefefe;
  width: 400px;
  max-height: 500px;
  overflow-y: scroll;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.navbar-search-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-search-content-post {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-search-content-post:hover {
  background-color: #eee;
}

.navbar-search-content-post-inner {
  display: flex;
  align-items: center;
}

.navbar-search-content-post-title {
  font-weight: bold;
}

.navbar-search-content-post-image {
  width: 70px;
  height: 70px;
  margin-right: 0.5rem;
}

.navbar-search-content-post-image img {
  height: 100%;
  width: 100%;
}

.navbar-search-content-tags {
  padding: 0.5rem;
}


.avatar {
  display: flex;
  align-items: center;
}

.navbar-profile-icon {
  font-size: 30px;
  color: #333;
}

.signin,
.create,
.logout {
  /* background-color: #000; */
  padding: 0.5rem 1rem;
  color: #222;
  font-size: 18px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.signin:hover,
.create:hover,
.logout:hover {
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.content {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.1);
  width: 110px;
  height: 40px;
  border-radius: 10px;
}

.avatar:hover .content {
  display: flex;
}

.content .link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .link:hover {
  color: #fefefe;
  background-color: #ff5700;
  border-radius: 10px;
}